* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #6b5b6e;

  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #ffd1e3 0%, #d2e5ff 50%, #e0d5ff 100%);

  min-height: 100vh;
}

.navbar {
  width: 90%;
  margin: 25px auto;
  padding: 12px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
}

.logo {
  font-weight: 700;
  color: #80677f;
}

.logo span {
  color: #d69ab7;
}

.nav-menu {
  display: flex;
  gap: 8px;
}

.nav-menu a {
  text-decoration: none;
  color: #766a78;

  padding: 9px 18px;
  border-radius: 30px;

  font-size: 14px;
  font-weight: 700;
}

.nav-menu a:hover,
.nav-menu a.active {
  background: rgba(255, 255, 255, 0.65);
  color: #c989a8;
}

/* Header */

.hero {
  text-align: center;
  margin: 80px auto 50px;
}

.small-title {
  font-size: 12px;
  letter-spacing: 3px;
  color: #c98da9;
}

.hero h1 {
  font-size: 50px;
  color: #68586d;
  margin: 8px 0;
}

.description {
  color: #8b7d8c;
}

/* Chart */

.chart-section {
  width: 85%;
  max-width: 900px;
  margin: auto;
}

.chart-item {
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 12px 18px;
  margin-bottom: 10px;

  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.chart-item:hover {
  background: rgba(255, 255, 255, 0.6);
}

.rank {
  width: 35px;

  font-size: 18px;
  font-weight: 700;
  color: #b88da8;
}

.chart-item img {
  width: 55px;
  height: 55px;

  object-fit: cover;
  border-radius: 15px;
}

.song-info {
  flex: 1;
}

.song-info h3 {
  font-size: 15px;
  color: #6b5b6e;
}

.song-info p {
  font-size: 12px;
  color: #978997;
}

.movement {
  font-weight: 700;
}

.movement.up {
  color: #8bb49a;
}

.movement.down {
  color: #d38d9d;
}

.movement.same {
  color: #aaa0aa;
}

.movement.new {
  color: #9c8ac0;
  font-size: 11px;
}

.last-week {
  width: 90px;

  font-size: 11px;
  color: #a396a4;

  text-align: right;
}

/* Footer */

footer {
  text-align: center;
  padding: 30px;

  font-size: 12px;
  color: #9a8c9b;
}
