* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #6b5b6e;

  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #ffd1e3 0%, #d2e5ff 50%, #e0d5ff 100%);

  min-height: 100vh;
}

.navbar {
  width: 90%;
  margin: 25px auto;
  padding: 12px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
}

/* Logo */

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #80677d;
}

/* Navigation */

.nav-links {
  display: flex;
  gap: 8px;
}

.nav-links a {
  text-decoration: none;
  color: #806f80;

  padding: 8px 16px;
  border-radius: 30px;

  font-size: 14px;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  background: rgba(255, 255, 255, 0.65);
  color: #69566b;
}
